body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: red;
    color: white;
}
.main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
}
.character-status {
    display: flex;
    justify-content: space-around;
    background-color: slategray;
    margin-top: 3em;
}
.hp {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    align-items: center;
}
progress {
    width: 80%;
}
.bonuses {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .main-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 0.5fr 2fr;
    color: white;
}
.character-status {
    text-align: center;
    padding: 10px;
    grid-column: 1 / span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 0.5fr);
    background-color: rgb(51, 55, 59);
    border: solid slategray;
    background-image: url(https://i.imgur.com/kcZuWin.jpg);
}
progress {
    background-color: green;
}
progress::-webkit-progress-value {
    background: green;
    border: 1px solid black;
    box-shadow: 0 0 10px 1px lightgreen;
}
progress::-webkit-progress-bar {
    background: white;
    border: 1px solid black;
}
.inventory-container {
    grid-row: 2/span 2;
    grid-column: 1/span 2;
    background-color: rgb(51, 55, 59);
    border: solid slategray;
    padding: 10px;
    background-image: url(https://i.imgur.com/kcZuWin.jpg);
}
.item-name {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.item-stat {
    margin: 0;
}
.item-description {
    font-style: italic;
    font-size: small;
}
.narrative-container {
    background-color: black;
    grid-column: 3/span 8;
    grid-row: 1/span 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.imgur.com/Ml968v8.jpg);
    height: 100vh;
}
.narrative {
    background-color: slategray;
    color: white;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.options-container {
    display: flex;
    justify-content: center;
}
.option {
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.combat-modal {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.combat-modal p {
    margin: 5px;
    padding: 15px;
}
.combat-modal progress {
    text-align: center;
}
.combat-modal button {
    background-color: red;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 5px;
} */