body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 2fr;
    color: white;
}
.character-status {
    grid-column: 1 / span 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(51, 55, 59);
    border: solid gold
}
progress {
    background-color: green;
}
.icon {
    max-height: 200px;
    grid-row: 1 / span 3;
}
.hp {
    grid-column: 2;
    grid-row: 1;
}
.armor {
    grid-column: 2;
    grid-row: 2;
}
.atb {
    grid-column: 2;
    grid-row: 3;
}
.inventory-container {
    grid-row: 2/span 2;
    grid-column: 1/span 2;
    background-color: rgb(51, 55, 59);
    border: solid gold;
    padding: 10px;
}
.item-name {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.item-stat {
    margin: 0;
}
.item-description {
    font-style: italic;
    font-size: small;
}
.narrative-container {
    background-color: black;
    grid-column: 3/span 8;
    grid-row: 1/span 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.narrative {
    background-color: slategray;
    color: white;
    border: solid red;
    padding: 20px;
    max-width: 50%;
}
.options-container {
    display: flex;
    justify-content: center;
}
.option {
    background-color: lightblue;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}