body {
    padding: 0;
    margin: 0;
    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    background-color: red;
    color: white;
    text-align: center;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.character-status {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    background-image: url(https://i.imgur.com/kcZuWin.jpg);
}
.hp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 30%;
    align-items: space-between;
    height: 100%;
    text-align: center;
}
progress {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    background-color: green;
}
progress::-webkit-progress-value {
    background: green;
    border: 1px solid black;
    box-shadow: 0 0 10px 1px lightgreen;
}
progress::-webkit-progress-bar {
    background: white;
    border: 1px solid black;
}
.bonuses {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inventory-container {
    background-image: url(https://i.imgur.com/kcZuWin.jpg);
}
.inventory-menu {
    text-align: center;
    margin: 0;
    padding: 1em;
}
.equipment {
    padding: 1em;
    color: white;
}
.item-name {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.item-stat {
    margin: 0;
}
.item-description {
    font-style: italic;
    font-size: small;
}
.narrative-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.imgur.com/Ml968v8.jpg);
}
.narrative {
    background-color: #333;
    padding: 1.3em;
    overflow-y: scroll;
    max-height: 50vh;
}
.options-container {
    display: flex;
    justify-content: center;
}
.option {
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: black;
}
.combat-modal {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.combat-modal p {
    margin: 5px;
    padding: 15px;
}
.combat-modal progress {
    text-align: center;
}
.combat-modal button {
    background-color: red;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 5px;
}